<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <style>
     .some,button,span{
      display: block;
      text-align: center;
      margin: 1rem auto;
    }
  </style>
<body>
  <form action="/api/product" method="post">
  <input type="text" name="name" class="some" placeholder="name"/>
   <!-- dropdown populate type or add (use select options)  -->
  <input type="text" name="category" class="some" placeholder="category"/>
  <input type="text" name="brand" class="some" placeholder="brand"/>
  <input type="text" name="life" class="some" placeholder="life"/>
  <input type="text" name="color" class="some" placeholder="color"/>
  <input type="text" name="size" class="some" placeholder="size"/>
  <button type="submit">submit</button>
  </form>
</body>
</html>